<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebHealth-Predict Your Disease</title>
    {{!-- bootstrap --}}
    
    <script defer src = "/js/front_end.js"></script>
    <script defer src = "/js/next.js"></script>
    <script defer src = "/js/back.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {{!-- local files --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style3.css">
    <link rel="stylesheet" href="/css/style4.css">
</head>
<body>
    <div class = "frame" align="center" >
        <header class = 'webhealth mb-5' align="left">
            <div class = "mb-2 py-4 nameing">
                <a href = "http://localhost:8080" class="linking">WebHealth</a>
            </div>
        </header>
        <div class = "content my-5" align="center">
             <div class = "main-content" id = "main-content" align = "center">
                <div class = "pic-div">
                    <img id="pic" src="/image/pic.png" alt = "Intro_image">
                </div>
                <form >
                    <div class = "form-group intro">
                        <h1 class="hello">Hello!</h1>
                        <p class = "para">You’re about to use a short (3 min), safe and anonymous health checkup. Your answers will be carefully analyzed and you’ll learn about possible causes of your symptoms.</p>
                    </div>
                </form>
                <div class = "button" align = "center">
                    <button class="btn btn-success next" id = "nextbtn">Next</button>
                </div>
        
            </div>
            <div class = "main-content1 visited" id = "main-content1" align = "center">
                <div class = "notifier">
                    <h1>Please select your gender</h1>
                </div>
                <span id  = "female-pic" class = "female">
                    <img id = "imgf" src="/image/female.png" alt="female">
                    <span align = "center"><h5>Female</h5></span>
                </span>
                <span id = "male-pic" class = "male">
                    <img id = "imgm" src="/image/male.png" alt="male">
                    <span align = "center"><h5>Male</h5></span>
                </span>
                <div class = "button" align = "center">
                    <button class = "btn btn-danger back" id = "backbtn1">Back</button>
                    <button class="btn btn-success next" id = "nextbtn1">Next</button>
                </div>
            </div>

            <div class = "main-content2 visited" id = "main-content2" align = "center">
                <div class = "age">
                    <h2 class = "age-content">Please Enter Your Age</h2>
                </div>
                    
                <div class = "slider">
                    <div class = "minus" id = "minus">
                        <span class = "horizontal"></span>
                    </div>
                    <div class="number_bubble"></div>
                    <input type="range" min = "18" max = "130" class = "range" id = "range_input">
                    <div class = "plus" id = "plus">
                        <span class = "horizontal"></span>
                        <span class = "vertical"></span>
                    </div>
                </div>
                <div class = "value">
                    <h3 class="sph3">AGE:</h3><h3 class ="sph31" id = "age_value"></h3>
                </div>
                <div class = "button " align = "center">
                    <button class = "btn btn-danger back" id = "backbtn2">Back</button>
                    <button class="btn btn-success next" id = "nextbtn2">Next</button>
                </div>
            </div>
            <div class = " main-content3 visited" id = "main-content3" align = "center">
                <div class = "heading-symp">
                    <h1>
                        Add Your Symptoms
                    </h1>
                </div>
                <div class = "search">
                    <input type="text" placeholder = "Search, e.g. headeache" class = "symptom-search" id = "symptom-search">
                    <div class = "suggestions" id = "suggestions">

                    </div>
                </div>
                <div class = "selected-symptoms" id = "selected-symptoms">
                    <h3 style="position : absolute; top : 50%;-webkit-transform : translate(-50%,-50%);left :50%;color:#94A4B9;">
                        Please try to add more than one symptoms
                    </h3>
                    
                </div>
                <div class = "button" align = "center">
                    <button class = "btn btn-danger back" id = "backbtn3">Back</button>
                    <button class="btn btn-success next" id = "nextbtn3">Next</button>
                </div>
            </div>

            <div class = "main-content4 visited" id = "main-content4" align = "center">
                <div class = "DiseasePrediction">
                    <div class="card pos w-100 h-50" >
                        <h5 class="card-header" style = "font-size: 14pt; position:absolute; top:0px; width:100%;">Final Disease</h5>
                        <div class="card-body" style = "position : relative; top : 25%;">
                            <h5 style = "color : black;">The possible disease can be: </h5>
                            <h5 class="card-title" id = "final-output"></h5>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
</div>
    

</body>
</html>