.main-content4{
    position : absolute;
    height : 500px ;
    width : 788px;
    top : 0px;
}
.DiseasePrediction{
    position : absolute;
    width : 500px;
    height : 250px;
    left : 50%;
    top : 50%;
    transform : translate(-50%,-50%);
}
.pos{
    position : absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50%,-50%);
}